
<div class="center">
  <div class="row">
  <% @listings.each do |listing| %>
  <!-- changed from col-md-3 -->
    <div class="col-md-4"> 
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="link">
  <%= link_to "admin", new_admin_session_path %>

  <% if admin_signed_in? %>
    <%= link_to "sign out", destroy_admin_session_path, method: :delete %>
  <% end %>
</div>