
<h1>Welcome to Camo Flags: A History of Greatness</h1>
<br>
<h2>Lewis and Clark. Bonnie and Clyde. Knight Rider and KITT. America's got the best duos in history. Fact, nerds. Now we're bringing another to the table: <i>camouflage and flags.</i></h2>
<h2>That's where you come in.</h2>
<h2>The question is, do <i>you</i> bleed red, white, and green enough to wave America's bold new banners?</h2>
